<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.network.client</key>
	<string>true</string>
	<key>com.apple.security.device.wifi-info</key>
	<string>true</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Este app precisa acessar sua rede Wi-Fi para fornecer informações sobre a conexão.</string>
</dict>
</plist>
